* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html , body , #root {
  min-height: 100vh;
 }

 a {
     text-decoration: none;
     color: black;

 }

#main-header {
 display: flex;
 padding: 0.5rem 1 rem;
 background-color: rgb(189, 247, 228);
 justify-content: space-between;
 align-items: center;
 box-shadow:0 2px 3px rgba(0, 0, 0, 0.5);
}