
* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    margin: 0;
    padding: 0;
      

}

body{
    background-color: rgba(0,0,0, 0.1) !important;

}

a{
    Color: #000;
}

nav{
    z-index: 999 !important;
}

nav ul a{
    font-size:1.3rem;
}

p{
  font-family: Arial, Helvetica, sans-serif;   
}
.brand-logo{
    margin-left: 15px;
}

.page-title{
    text-align: center;
}

.progress{
    margin: 0px !important; 
}
.card-title{
    margin-bottom: 0px !important;
    
}
.card-price{
    margin-bottom: 10px;
}

.container{
    width: 100%;
    margin-top:25px;
}

.row{
    background-color: #fff;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.text-center{
    text-align: center;
}

.item-count-container{
    padding: 0px 10px;
    width: 100%;
    border: 1px solid rgba(0,0,0, 0.1)
}

.card {
    height: 450px;

}
.card:hover {
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 14%), 0 6px 2px -4px rgb(0 0 0 / 12%), 0 2px 10px 2px rgb(0 0 0 / 20%);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    cursor:pointer;
}
.card .card-image{
    height: 300px;
    overflow: hidden;
    max-width: 100%;
}

.card .card-content .card-price {
    font-size: 1.5em;
}


.item-count-container blockquote{
    text-align: left;
}

.item-count-btn{
    width:100%;
}

.item-count{
    text-align:center;
}

.item-detail-picture{
    width: 100%;
}

.item-detail-picture-container{
    padding-top:25px !important;
    overflow: hidden;
}

.product-detail-title{
    font-size: 1.8em;
    margin: 0;
}

.product-detail-price{
    font-size: 2.5em;
}

.product-detail-description{
    font-size: 1.8em;
}

.item-detail-info-container{
    padding-top: 25px !important;
}

.item-list, .item-detail{
    min-height: 600px;
}

.item-breadcrums label{
    font-size:1em;
}

.item-breadcrums a{
    padding: 5px;
    font-size:1em;
    color:#ee6e73;
}

.item-breadcrums a:hover {
    text-decoration: underline;
}

.item-breadcrum-selected {
    color: #000 !important;
}

.collection .collection-item{
    line-height: 2rem;
}

.collection .collection-item.avatar{
    padding-left:130px
}

.collection .collection-item.avatar .title{
    font-size: 2em;
}

.collection .collection-item.avatar p{
    font-size: 1.5em;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle{
    width:100px;
    height: 100px;
}

.collection .collection-item.avatar .secondary-content{
    top:40px
}